.LeftPanel {
  z-index: 99;
  position: absolute;
  width: 350px;
  height: 980px;
  left: 10px;
  top: 90px;

  flex-direction: column;
  background: rgba(52, 58, 63, 0.95);
}

.LPtitle {
  top: 0;
  left: 0;
  width: 100%-3px;
  height: 46px;
  margin: 0;

  background: #21272A;
  border-left: 3px solid #1192E8 ;
  color: #FFFFFF;

}
.LPtitle span {
  line-height: 46px;
}
.LPicon {
  position: absolute;
  left: 24px;
}

.LPcharts {
  padding: 0px 10px 10px 10px;
}

.chartTitle {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
}
.chartTitle span{
  font-size: 16px;
  line-height: 18px;
}

#bellchart {
  height: 316px;
  background: #21272A;
  opacity: 0.6;
  border-radius: 5px;
  margin: 0;
}

#cctvchart {
  height: 175px;
  background: #21272A;
  opacity: 0.6;
  border-radius: 5px;
  margin: 0;
}

.LPclosebtn{
  width: 25px;
  height: 60px;
  position: absolute;
  top: 460px;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(52, 58, 63, 0.95);
  color: rgba(255, 255, 255, 0.699);
  font-size: 12px;
  border-radius: 0 3px 3px 0;

  cursor: pointer;
}

.systemCTitle {
  display: flex;
  justify-content: space-between;
}
.chartDate {
  text-align: right;
  font-size: 14px;
  font-weight: normal;
}

#systemchart {
  height: 255px;
  background: #21272A;
  opacity: 0.6;
  border-radius: 5px;
  margin: 0;

}

.servercombobox {
  /* height: 48px;
  text-align: center;
  padding-bottom: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  color: #C1C7CD;
  height: 30px;

  /* theme/coolgray/coolgray80 */

  background: #343A3F;
  /* theme/coolgray/coolgray100 */

  border: 1px solid #121619;
  border-radius: 2px;
}

