html{
  width: 1920px;
  height: 1080px;
  
  /* theme/gray/gray50 */
  
  background: #8D8D8D;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
